Django==5.2.13
asgiref==3.11.1
django-cors-headers==4.9.0
django-environ==0.13.0
django-jazzmin==3.0.4
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
pillow==12.2.0
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.12.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
